<%- include('../partials/head') %>
<header><%- nav %></header>

<main>
  <h1><%= title %></h1>
  <%- include('../partials/messages', { messages: notice }) %>

  <% if (accountData && accountData.account_firstname) { %>
    <h2>Welcome <%= accountData.account_firstname %></h2>
  <% } %>


  <% if (accountData && accountData.account_id) { %>
    <p><a href="/account/update/<%= accountData.account_id %>">Update account information</a></p>
  <% } %>

  <% if (accountData && (accountData.account_type === "Employee" || accountData.account_type === "Admin")) { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv">Go to Inventory Management</a></p>
  <% } %>
</main>

<%- include('../partials/footer') %>
